*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    padding:16px 120px; 
    text-align: center;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 139px;
    height: 60px;

}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;

}
.button button{
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    border-radius: 4px;

}
.button button:hover{
    background-color: #28a75f;
    cursor: pointer;
}
.section-container{
    height: 674px;
    width: auto;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.section-content{
    padding: 115px 120px 180px;
    text-align: center;
}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 1000px;   
  background-color: #ffffff;
  color: #30B868;         
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.badge .dot {
  width: 12px;
  height: 12px;
  background-color: #30B868; 
  border-radius: 50%;
}
.section-content h1{
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
   opacity: 90%;
   color: #ffffff;
   margin-bottom: 16px;

}
.section-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

    
