*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    padding:16px 120px; 
    text-align: center;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 139px;
    height: 60px;

}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;

}
.button button{
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
