*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    padding:16px 120px; 
    text-align: center;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 139px;
    height: 60px;

}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;

}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.button button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
.trn button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.button button:hover{
    
    cursor: pointer;
}
.section-container{
    height: 674px;
    width: auto;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.section-content{
    padding: 115px 120px 180px;
    text-align: center;
}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 1000px;   
  background-color: #ffffff;
  color: #30B868;         
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.badge .dot {
  width: 12px;
  height: 12px;
  background-color: #30B868; 
  border-radius: 50%;
}
.section-content h1{
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
   opacity: 90%;
   color: #ffffff;
   margin-bottom: 16px;

}
.section-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}
.structure-container{
    text-align: center;
    padding: 0 120px;
    height: 448px;
    
}
.structure-content {
    height: 153px;
}
.structure-content h1{
    color: #001931;
    font-weight: 700px;
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 16px;
}
.structure-content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}
.card-container{
    display: flex;    
    justify-content: center;
    margin: 0 auto;
    padding-top: 44px;
    gap: 24px;

}
.card-info{
    align-items: center;
    box-shadow: 0 6px 50px 0 #00000011;
    width: 322px;
    height: 251px;
    padding: 24px;
    padding-top: 60px;
    border-radius: 8px;
    
    
}
.card-info .circle-logo{

    background-color: #F95555;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 16px;
}
.card-info h5{
    font-size: 24px;
    color: #001931;
    padding-top: 10px;
}
.card-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}
.solution-container{
    height: 840px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 120px;
    gap: 60px;
}
.solution-image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-content h6{
    color: #30B868;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 16px;
}
.solution-content h1{
    color: #001931;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 16px;
}
.solution-content p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
}
.content-text{
    display: flex;
    gap: 6px;
}
.content-text p{
    color: #001931;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.access-container{
    padding: 2px 120px 120px 120px;
    height: 506px;
    text-align: center;
}
.access-content{
    background-color: #F7F6F2;
    padding: 80px 40px;
    height: 384px;
}
.access-content-text1 h1{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 16px;
}
.access-content-text1 p{
    color: #627382;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;
}
.access-content-text2 button{
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    gap: 10px;
    background-color: #30B868;
    color: #ffffff;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    box-shadow: 0 20px 50px 0 #00000038; ;

}
.access-content-text2 p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.footer-container{
    height: 384px;
    background-color: #001931;
    padding: 120px 120px 0;
    text-align: center;
    
}
.footer-content1{
    padding-bottom: 80px;
}
.footer-content{
    display: flex;
    justify-content: space-between;

}
.footer-content p{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-logos{
    display: flex;
    gap: 16px;
}
.footer-logo img{
    background-color: #ffffff;
    padding: 10%;
    height: 20px;
    width: 20px;
    top: 8px;
    border-radius: 50%;  
    
}
.footer-content2 hr{
    opacity: 20%;
}
.footer-content2 p{
    line-height: 24px;
    color: #fafafa;
}
    
